
<div>
    <table class="table">
        <thead>
            <tr>

                <th></th>
                <th>Name</th>
                <th>Actors</th>
                <th>Directors</th>
                <th>Genre</th>
                <th>IMDB Rating</th>
                <th>Language</th>
                <th>Runtime</th>
                <th>Year</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in listDetails">

                <td><img src="{{movie.Poster}}" style="width: 15em; height: auto"/>
                </td>
                <td style="font-size: 20px;"><b>{{movie.title}}</b><div style="font-size: 12px">{{movie.imdbid}}</div>

                    <button   class="btn btn-default" ng-click="openeditModal(movie)">Edit</button> <br />
                    <script type="text/ng-template" id="movieTemplate.html">
                        <div class="modal-header">
                        <h3 class="modal-title">Edit Movie!</h3>
                        </div>

                        <div class="modal-body">
                        <form  name="movieUpdate" ng-submit="ok()">
                        <input class="form-control" type="text" ng-model="movie.title" value="{{movie.title}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.imdbid" value="{{movie.imdbid}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Actors" value="{{movie.Actors}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Directors" value="{{movie.Directors}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Genre" value="{{movie.Genre}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.ImdbRating" value="{{movie.ImdbRating}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Language" value="{{movie.Language}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Runtime" value="{{movie.Runtime}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.Year" value="{{movie.Year}}"/><br>
                        <input class="form-control" type="text" ng-model="movie.plot" value="{{movie.plot}}"/><br>
                        <button style="width: 100%"  class="btn btn-success" type="submit" autofocus>OK</button>
                        </form>
                        </div>


                        <div class="modal-footer">
                        <button class="btn btn-primary" style="width: 100%" ng-click="close()" autofocus>Close</button>
                        </div>

                    </script>
                    <button  class="btn btn-default" ng-click="openaddModal(movie)">Add</button> <br />
                    <script type="text/ng-template" id="movielistTemplate.html">
                        <div class="modal-header">
                        <h3 class="modal-title">Add Movie To Your List!</h3>
                        </div>

                        <div class="modal-body">
                        <form  name="movieUpdate" ng-submit="ok()">
                        Rating:
                        <select class="form-control" ng-model="personal.rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        Status:
                        <select class="form-control" ng-model="personal.status">
                            <option value="Not Started">Not Started</option>
                            <option value="Stopped Watching">Stopped Watching</option>
                            <option value="Watching">Watching</option>
                            <option value="Completed">Completed</option>
                        </select>
                <br>
                        <button style="width: 100%"  class="btn btn-success" type="submit" autofocus>ADD TO MY LIST</button>
                        </form>
                        </div>


                        <div class="modal-footer">
                        <button class="btn btn-primary" style="width: 100%" ng-click="close()" autofocus>Close</button>
                        </div>

                    </script>
                </td>

                <td>{{movie.Actors}}</td>

                <td>{{movie.Directors}}</td>
                <td>{{movie.Genre}}</td>
                <td>{{movie.ImdbRating}}</td>
                <td>{{movie.Language}}</td>
                <td>{{movie.Runtime}}</td>
                <td>{{movie.Year}}</td>
                <td>{{movie.plot}}</td></tr>
        </tbody>
    </table>
</div>