
<div>
    <table class="table table-hover" cellspacing="10">
        <thead class="thead-inverse">
            <tr>

                <th></th>

                <th>Actors</th>
                <th>Directors</th>
                <th>Genre</th>
                <th>IMDB Rating</th>
                <th>Language</th>
                <th>Runtime</th>
                <th>Year</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in listDetails" ng-click="cout(movie)">


                <td>

                    <img src="{{checkImage(movie.Poster)}}" style="width: 10em; height: auto"/><br>
                    <b style="font-size: 20px;">{{movie.title}}</b><div style="font-size: 12px">{{movie.imdbid}}</div>
                </td>


        <script type="text/ng-template" id="movieTemplate.html">
            <div class="modal-header">
            <h3 class="modal-title">Edit Movie!</h3>
            </div>

            <div class="modal-body">
            <form  name="movieUpdate" ng-submit="ok()">
            <input class="form-control" type="text" ng-model="movie.title" value="{{movie.title}}"/><br>
            <input class="form-control" type="text" ng-model="movie.imdbid" value="{{movie.imdbid}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Actors" value="{{movie.Actors}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Directors" value="{{movie.Directors}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Genre" value="{{movie.Genre}}"/><br>
            <input class="form-control" type="text" ng-model="movie.ImdbRating" value="{{movie.ImdbRating}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Language" value="{{movie.Language}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Runtime" value="{{movie.Runtime}}"/><br>
            <input class="form-control" type="text" ng-model="movie.Year" value="{{movie.Year}}"/><br>
            <input class="form-control" type="text" ng-model="movie.plot" value="{{movie.plot}}"/><br>
            <button style="width: 100%"  class="btn btn-success" type="submit" autofocus>OK</button>
            </form>
            </div>


            <div class="modal-footer">
            <button class="btn btn-primary" style="width: 100%" ng-click="close()" autofocus>Close</button>
            </div>

        </script>

        <script type="text/ng-template" id="movielistTemplate.html">
            <div class="modal-header">
            <h3 class="modal-title">Add Movie To Your List!</h3>
            </div>

            <div class="modal-body">
            <form  name="movieUpdate" ng-submit="ok()">

            Status:
            <select class="form-control" ng-model="selectedStatus" ng-options="st.status for st in statuses" ng-change="setStatus()">

            </select>
            Rating:
            <select ng-disabled="isDisabled" class="form-control" ng-model="selectedRating" ng-options="rt.rate for rt in ratings" ng-change="setRate()">

            </select>
            </fieldset>
            <br>
            <button style="width: 100%"  class="btn btn-success" type="submit" autofocus>ADD TO MY LIST</button>
            </form>
            </div>


            <div class="modal-footer">
            <button class="btn btn-primary" style="width: 100%" ng-click="close()" autofocus>Close</button>
            </div>

        </script>
        
        <div>
            <td>{{movie.Actors}}</td>

            <td>{{movie.Directors}}</td>
            <td>{{movie.Genre}}</td>
            <td>{{movie.ImdbRating}}</td>
            <td>{{movie.Language}}</td>
            <td>{{movie.Runtime}}</td>
            <td>{{movie.Year}}</td>

            <td style="font-size: 20px; width: 50%">{{movie.plot}}</td></div>
        <td><button ng-show="isAdmin"  class="btn btn-default" ng-click="openeditModal(movie)">Edit</button> <br />
            <button ng-show="Allow" class="btn btn-default" ng-click="openaddModal(movie)">Add</button> <br /></td>
        </tr>
        </tbody>
    </table>
</div>