
#logo { 
    display: block;
    margin:  auto;
}

#login{
    /*float: right;
    /*position:relative;*/
    /*clear: both;*/
    /*width: 30em;*/

}

#profilePro{
    margin-top: 25%;
}

#Profile{
    /*vertical-align: middle;*/
    text-align: center;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;

}

#buttonProf{
    color: black;
    background: darkgray;
    border-color: transparent;
}

#buttonProf:hover{
    background-color: red;
    opacity:0.40;
}


#nav
{
    /*background: url(http://4.bp.blogspot.com/-dVtgikk-kOY/UprtswP0yGI/AAAAAAAADag/Og0DtZ8t_oQ/s1600/header+base.png) no-repeat scroll top left;*/    
    /*background: url(https://www.2webdesign.com/public/images/inner-header.jpg) no-repeat scroll top left;*/    
    background-color: transparent;
    /*background: lightblue;*/
    background:rgba(0,0,0,0.4);
    border-color: transparent;
    width: 100%;
    height:10%;
    box-shadow: 0px 1px 10px #5E5E5E;
    position:fixed;
    top:0px;

}



#nav a
{
    display: block;
    font-size: 1.6em;

    text-transform: uppercase;
    text-shadow: 0 0 0.3em #464646;
    font-weight: bold;
    font-family:century gothic;
    margin-left: 20%;
    /*margin-top: 25%;*/
    font-size: 15px;
    text-decoration:none;
    color:black;
    opacity:0.66;
} 
#nav a:hover 
{
    opacity:0.40;
}


#main{
    /*width: 100%;*/
    /*padding: 16px;*/
    margin-top: 6%;
    /*height: 200px;*/

}

#slider .item{
    margin: 10px;
}
#slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

